# Python cache files
__pycache__/
*.pyc

# Environment files
.env

# Data and cache files
data/
*.json

# Used for Google Gemini queries
# ``find celeritas/ -name '*.py' -type f -exec sh -c 'printf "\n===== %s =====\n\n" "$1"; cat "$1"' _ {} \; > all.txt``
all.txt